html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
h1{
  text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 8em;
    letter-spacing: 3px;
    font-weight: 500;
    text-shadow: 4px 4px 4px silver;
    position: relative;
    top: auto;
    margin: 0%;
}
h6{
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 5em;
  font-weight: lighter;
}
.intro{
  position: absolute;
  top: 40%;
  left: 30%;
  width: 15em;
  height: 3em;
  padding: 3px;
  border-radius: 21px;
  border: dotted 1px;
  border-color: blanchedalmond;
  font-family: 'Brush Script MT', cursive;
  font-size: 2em;
}
#click{
  position: absolute;
  top: 77%;
  right: 46%;
}